name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  checkout:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.matching.outputs.version }}
    steps:
      - uses: actions/checkout@main
      - name: Match the commit message whether to Release!
        run: |
          MESSAGE=$(git log -1 --format="%s")
          if [[ ${MESSAGE} =~ ^v[0-9]+\.[0-9]+\.[0-9]+ ]]; then
              echo "::set-output name=version::${MESSAGE:1}"
          fi
        id: matching
        if: ${{ github.event_name == 'push' }}
  release:
    runs-on: ubuntu-latest
    needs: checkout
    if: ${{ needs.checkout.outputs.version }}
    env:
      VERSION: ${{ needs.checkout.outputs.version }}
    steps:
      - uses: actions/checkout@main
        with:
          fetch-depth: 0
      - uses: actions/setup-node@main
      - uses: actions/setup-ruby@main
      - name: Prettier check and Build theme assets!
        run: |
          npm install
          npm run format && npm run build
