name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
        with:
          fetch-depth: 0
      - uses: actions/setup-node@main
      - uses: actions/setup-ruby@main
      - name: Prettier check and Build theme assets!
        run: |
          npm install
          npm run format && npm run build
